body {
    font-family: roboto, arial;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: animationBG 4s infinite;
    background: linear-gradient(300deg, deeppink, dodgerblue, darkmagenta);
    background-size: 140% 140%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@keyframes animationBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.frame {
    position: relative;
    height: 600px;
    width: 300px;
}
.facebook {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 5px;
    height: 55px;
    width: 290px;
    z-index: 0;
    background: black;
    overflow: hidden;
}
.facebook::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 150px;
    background: linear-gradient(transparent, rgb(3, 73, 204), white, rgb(3, 73, 204), transparent);
    height: 50px;
    width: 430px;
    animation: spin 3s linear infinite;
}
.facebook::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: black;
}
.facebook img {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 10;
    margin-left: -235px;
}
.facebook .frame-icon {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-left: -234px;
}
.facebook .text {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: medium;
    font-weight: bold;
}
.facebook .frame-text {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 185px;
}
.facebook a {
    cursor: pointer;
    position: absolute;
    z-index: 11;
    margin-right: -237px;
    color: rgb(3, 73, 204);
}
.facebook .frame-link {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-right: -235px;
}
.weChat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 5px;
    height: 55px;
    width: 290px;
    z-index: 0;
    background: black;
    overflow: hidden;
}
.weChat::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 150px;
    background: linear-gradient(transparent, rgb(3, 248, 3), white, rgb(3, 248, 3), transparent);
    height: 50px;
    width: 430px;
    animation: spin 3s linear infinite;
}
.weChat::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: black;
}
.weChat img {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 10;
    margin-left: -235px;
}
.weChat .frame-icon {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-left: -234px;
}
.weChat .text {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: medium;
    font-weight: bold;
}
.weChat .frame-text {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 185px;
}
.weChat a {
    cursor: pointer;
    position: absolute;
    z-index: 11;
    margin-right: -237px;
    color: rgb(3, 248, 3);
}
.weChat .frame-link {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-right: -235px;
}
.discord {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 170px;
    left: 5px;
    height: 55px;
    width: 290px;
    z-index: 0;
    background: black;
    overflow: hidden;
}
.discord::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 150px;
    background: linear-gradient(transparent, rgb(8, 152, 248), white, rgb(8, 152, 248), transparent);
    height: 50px;
    width: 430px;
    animation: spin 3s linear infinite;
}
.discord::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: black;
}
.discord img {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 10;
    margin-left: -235px;
}
.discord .frame-icon {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-left: -234px;
}
.discord .text {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: medium;
    font-weight: bold;
}
.discord .frame-text {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 185px;
}
.discord a {
    cursor: pointer;
    position: absolute;
    z-index: 11;
    margin-right: -237px;
    color: rgb(8, 152, 248);
}
.discord .frame-link {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-right: -235px;
}
.steam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 240px;
    left: 5px;
    height: 55px;
    width: 290px;
    z-index: 0;
    background: black;
    overflow: hidden;
}
.steam::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 150px;
    background: linear-gradient(transparent, rgb(48, 88, 252), white, rgb(48, 88, 252), transparent);
    height: 50px;
    width: 430px;
    animation: spin 3s linear infinite;
}
.steam::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: black;
}
.steam img {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 10;
    margin-left: -235px;
}
.steam .frame-icon {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-left: -234px;
}
.steam .text {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: medium;
    font-weight: bold;
}
.steam .frame-text {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 185px;
}
.steam a {
    cursor: pointer;
    position: absolute;
    z-index: 11;
    margin-right: -237px;
    color: rgb(48, 88, 252);
}
.steam .frame-link {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-right: -235px;
}
.epic-games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 310px;
    left: 5px;
    height: 55px;
    width: 290px;
    z-index: 0;
    background: black;
    overflow: hidden;
}
.epic-games::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 150px;
    background: linear-gradient(transparent, rgb(88, 88, 88), white, rgb(88, 88, 88), transparent);
    height: 50px;
    width: 430px;
    animation: spin 3s linear infinite;
}
.epic-games::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: black;
}
.epic-games img {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 10;
    margin-left: -235px;
}
.epic-games .frame-icon {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-left: -234px;
}
.epic-games .text {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: medium;
    font-weight: bold;
}
.epic-games .frame-text {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 185px;
}
.epic-games a {
    cursor: pointer;
    position: absolute;
    z-index: 11;
    margin-right: -237px;
    color: rgb(88, 88, 88);
}
.epic-games .frame-link {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-right: -235px;
}
.xbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 380px;
    left: 5px;
    height: 55px;
    width: 290px;
    z-index: 0;
    background: black;
    overflow: hidden;
}
.xbox::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 150px;
    background: linear-gradient(transparent, rgb(153, 248, 1), white, rgb(153, 248, 1), transparent);
    height: 50px;
    width: 430px;
    animation: spin 3s linear infinite;
}
.xbox::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: black;
}
.xbox img {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 10;
    margin-left: -235px;
}
.xbox .frame-icon {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-left: -234px;
}
.xbox .text {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: medium;
    font-weight: bold;
}
.xbox .frame-text {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 185px;
}
.xbox a {
    cursor: pointer;
    position: absolute;
    z-index: 11;
    margin-right: -237px;
    color: rgb(153, 248, 1);
}
.xbox .frame-link {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-right: -235px;
}
@keyframes spin {
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}
.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 450px;
    left: 100px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    z-index: 0;
    background: black;
    overflow: hidden;
}
.home a {
    cursor: pointer;
    position: absolute;
    z-index: 11;
    color: white;
}