body {
    font-family: roboto, arial;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: animationBG 4s infinite;
    background: linear-gradient(300deg, deeppink, dodgerblue, darkmagenta);
    background-size: 140% 140%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@keyframes animationBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.frame { 
    position: relative;
    height: 300px;
    width: 600px;
}
.frame .description-spin {
    position: absolute;
    inset: 0px;
    background: black;
    overflow: hidden;
}
.frame .description-spin::before {
    content: "";
    position: absolute;
    top: 140px;
    left: 300px;
    background: linear-gradient(transparent, rgb(0, 204, 255), rgb(0, 204, 255), rgb(0, 204, 255), transparent);
    height: 130px;
    width: 900px;
    animation: spin 5s linear infinite;
}
@keyframes spin {
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}
.frame .description-spin::after {
    content: "";
    position: absolute;
    inset: 5px;
    background: black;
}
.frame .avatar-spin {
    position: absolute;
    top: -80px;
    left: 220px;
    height: 150px;
    width: 160px;
    z-index: 0;
    background: black;
    overflow: hidden;
}
.frame .avatar-spin::before {
    content: "";
    position: absolute;
    top: 70px;
    left: 80px;
    background: linear-gradient(transparent, rgb(167, 9, 167), rgb(167, 9, 167), rgb(167, 9, 167), transparent);
    height: 90px;
    width: 300px;
    animation: spin-reverse 3s linear infinite;
}
.frame .avatar-spin::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: black;
}
@keyframes spin-reverse {
    0% {transform: translate(-50%, -50%) rotate(360deg);}
    100% {transform: translate(-50%, -50%) rotate(0deg);}
}
.frame img {
    position: absolute;
    z-index: 9;
    height: 140px;
    width: 150px;
    left: 5px;
    top: 5px;
}
.frame .box-name {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.frame .box-name .name-EN {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.frame .box-name .name-VI {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.frame audio {
    position: absolute;
    bottom: 7px;
}
.frame .box-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.frame .box-btn-pe {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
.frame .box-btn .left-btn {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.frame .box-btn .right-btn {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.frame .box-btn button,
.frame .box-btn-pe button {
    cursor: pointer;
    margin: 5px;
    padding: 8px 18px;
    border-radius: 7px;
    border-style: solid;
    color: black;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
}
.frame .box-btn a,
.frame .box-btn-pe a {
    text-decoration: none;
}
@media (max-width: 600px) {
    .container {
        margin-top: 10px;
    }
    .frame {
        height: 350px;
        width: 300px;
    }
    .frame .box-name {
        margin-top: 0px;
    }
    .frame .box-btn button {
        display: none;
    }
    .frame .avatar-spin {
        margin-left: -150px;
    }
.frame .description-spin::before {
        top: 150px;
        left: 130px;
    }
}
@media (min-width: 601px) {
    body {
        margin-top: 70px;
    }
    .frame {
        height: 240px;
    }
    .frame .box-btn-pe button {
        display: none;
    }
}