body {
    font-family: roboto, arial;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: animationBG 4s infinite;
    background: linear-gradient(300deg, deeppink, dodgerblue, darkmagenta);
    background-size: 140% 140%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@keyframes animationBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.frame {
    position: relative;
    height: 600px;
    width: 300px;
}
.github {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 5px;
    height: 55px;
    width: 290px;
    z-index: 0;
    background: black;
    overflow: hidden;
}
.github::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 150px;
    background: linear-gradient(transparent, rgb(70, 70, 70), white, rgb(70, 70, 70), transparent);
    height: 50px;
    width: 430px;
    animation: spin 3s linear infinite;
}
.github::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: gray;
}
.github img {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 10;
    margin-left: -235px;
}
.github .frame-icon {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-left: -234px;
}
.github .text {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: medium;
    font-weight: bold;
}
.github .frame-text {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 185px;
}
.github a {
    cursor: pointer;
    position: absolute;
    z-index: 11;
    margin-right: -237px;
    color: rgb(70, 70, 70);
}
.github .frame-link {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-right: -235px;
}
.repLit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 5px;
    height: 55px;
    width: 290px;
    z-index: 0;
    background: black;
    overflow: hidden;
}
.repLit::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 150px;
    background: linear-gradient(transparent, rgb(238, 126, 21), white, rgb(238, 126, 21), transparent);
    height: 50px;
    width: 430px;
    animation: spin 3s linear infinite;
}
.repLit::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: gray;
}
.repLit img {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 10;
    margin-left: -235px;
}
.repLit .frame-icon {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-left: -234px;
}
.repLit .text {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: medium;
    font-weight: bold;
}
.repLit .frame-text {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 185px;
}
.repLit a {
    cursor: pointer;
    position: absolute;
    z-index: 11;
    margin-right: -237px;
    color: rgb(238, 126, 21);
}
.repLit .frame-link {
    position: absolute;
    z-index: 10;
    border: 2px solid white;
    height: 44px;
    width: 45px;
    margin-right: -235px;
}
@keyframes spin {
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}
.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 170px;
    left: 100px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    z-index: 0;
    background: black;
    overflow: hidden;
}
.home a {
    cursor: pointer;
    position: absolute;
    z-index: 11;
    color: white;
}